 body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;}

/*  part-1 style start here */
 .header-part{
     margin-top: 100px;
     display: flex;
 }
 .orange{
     color: orange;
 }
 .part-2-heading{
    font-size: 60px;
    margin: 0px;
    border-left:3px solid red;
    border-radius: 3px;
   
    
    }
  
    .half-width{
        width: 50%;
        padding-left: 5%;
     
    }
    .half-width img{
     width: 80%; 
     margin-left: 20px;
     margin-top: 0px;
     
    }
   
    .link-button {
        text-decoration: none;
       
        background-image: linear-gradient(#FF5959,#FF5959);
         padding: 10px 40px;
         color: wheat;
         font-weight: 700;
         border-radius: 5px;
       
       
    }
    /* part-2 style start here */
   
    .mission-heading{
        margin-top: 100px;
        font-size: 40px;
        text-align: center;
    }
    .mission-area h1{
        padding: 5px;
    }
   
    .mission-part-1{
        background-color: #dbebec;
        margin:2%;
        border-radius: 20px;
        padding: 7px;
    }
    .mission-part-1 p{
   margin-left: 10px;
   margin-right: 10px;
    }
    .mission-part-2{
        background-color: #ecd5d5;
        margin: 2%;
        border-radius: 20px;
        padding: 7px;
        
    }
    .mission-part-1 p{
        margin-left: 10px;
        margin-right: 10px;
         }
    .mission-part-3{
        background-color:#FFF4D6;
        margin: 2%;
        border-radius: 20px;
        padding: 7px;
    }
    .mission-part-1 {
        margin-left: 10px;
        margin-right: 10px;
      
         }
    .mission-img{
        width: 200px;
        height: 200px;
    }
    .mission-area{
        display: flex;
    }
     /*  part-3 style start here */
     .develop-area{
         margin-top: 100px;
         display: flex;
         background-image: url(images/shapes/shape-1.png);
         background-repeat: no-repeat;
         background-position: left;
         background-size: 200px;
       
     }
     .deloper-describe{
         margin-left: 50px;
     }
     .develop-img{
         height: 400px;
         width: 400px;
         margin-left: 100px;

     }
     .deloper-describe h1{
         font-size: 40px;
     }

     .developer-button {
        text-decoration: none;
        margin-top: 30px;
        background-image: linear-gradient(#FF5959,#FF5959);
         padding: 10px 40px;
         color: white;
         font-weight: 700;
         border-radius: 5px;
       
       
    }
/*  part-4 style start here */
.community-area{
    margin: 100px;
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:right ;
  background-size: 80px;
  
}
/* part-5 */
.part-5{
    margin-top: 100px;
}
.part-5 h1{
    font-size: 50px;
    text-align: center;
}
.cars-design{
    display: flex;
}
.cars-design img{
 height: 300px;
 width: 300px;
}
.cars-design h1{
font-size: 40px;
}
.card-describe-1{
margin: 2%;
padding: 10px;
text-align: center;
background-color: rgb(211, 199, 199);
border-radius: 30px;
}
.card-describe-2{
    margin: 2%;
    padding: 10px;
    text-align: center;
    background-color: rgb(197, 195, 212);
    border-radius: 30px;
    }
    .card-describe-3{
        margin: 2%;
        padding: 10px;
        text-align: center;
        background-color: rgb(173, 221, 217);
        border-radius: 30px;
 }
.card-button{
    text-decoration: none;
    margin-top: 30px;
    background-image: linear-gradient(#FF5959,#FF5959);
     padding: 10px 40px;
     color: white;
     font-weight: 700;
     border-radius: 5px;

}







/* footer part */
.footer{
text-align: center;
background-color: black;
color: rgb(212, 205, 205);
padding: 3%;
}
.footer h1{
    font-size: 30px;
    font-style: italic;

}
.red{
    color: rgb(209, 68, 43);
}

